<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.newmyskycar">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="750" />
        <meta-data
            android:name="design_height"
            android:value="1334" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ZhuCeActivity" />
        <activity android:name=".ZhuCe2Activity" />
        <activity android:name=".MainShouyeActivity" />
        <activity android:name=".Maindaibaojia" />
        <activity android:name=".YibaojiaActivity" />
        <activity android:name=".XiangguanzixunActivity" />
        <activity android:name=".Xiangguanzixun01Activity" />
        <activity android:name=".Xiangguanzixun02" />
        <activity android:name=".Xiangguanzixun02Activity" />
        <activity android:name=".Xiangguanzixun03Activity" />
        <activity android:name=".Xiangguanzixun04Activity" />
        <activity android:name=".Xiangguanzixun05Activity" />
        <activity android:name=".DaibaojiaSelfActivity"></activity>
    </application>

</manifest>